<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="lifeindia.co" />
    <add key="ida:ClientId" value="3dbfa6ab-375b-4600-92b1-539cf193da63" />
    <add key="todo:TodoListResourceId" value="https://lifeindia.co/TODOService" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
    <add key="ida:CertName" value="CN=TODODeamonWithCert" />
  </appSettings>
</configuration>